/* Style the nav container */
.nav-wrapper {
    width: 40px;
    height: 100vh;
    background: linear-gradient(to right, rgb(255, 136, 0), rgb(255, 230, 0));
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: width 0.6s;
}

/* Expan the with when hover the nav */
.nav-wrapper:hover {
    width: 200px;
}


#nav {
    width: 100%;
    display: flex;
    /* align-items: start; */
}

/* Style the unordered list inside the nav */
#nav ul {
    list-style: none;
    width: 100%;
}

/* Style the list items */
#nav ul li {
    /* width: 100%; */
    /* margin-bottom: 10px; */
    border-bottom: #fff 1px solid;
}

/* Style the anchor tags inside the list items */
#nav ul li a {
    width: 200px;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase; /* Capitalize text */
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
    background-color: #4d4d4d; /* Slightly lighter blue */
}

/* Add hover effect to anchor tags */
#nav ul li a:hover {
    background-color: #fff; /* Turquoise on hover */
    color: #909090;
}

.icon-1 {
    background-color: white;
    height: 50px;
    width: 50px;
}
/* Active link styling */
#nav ul li a.active {
    background-color: #e74c3c; /* Red for active link */
    color: white;
}

/* style for the icones */
#nav ul li a i {
    width: 20px;
    aspect-ratio: 1/1;
}
