/* Style the nav container */
.nav-wrapper {
    width: 9vh;
    height: 100vh; /* Full viewport height */
    background:linear-gradient(to right, rgb(255, 136, 0), rgb(255, 230, 0)); /* Dark blue background */
    position: fixed; /* Stick it to the left */
    top: 0;
    left: 0;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: ; */

}
#nav {
    width: 100%;
    display: flex;
    align-items: center;
}

/* Style the unordered list inside the nav */
#nav ul {
    list-style: none;
    width: 100%;
}

/* Style the list items */
#nav ul li {
    width: 100%;
    margin-bottom: 10px;
}

/* Style the anchor tags inside the list items */
#nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase; /* Capitalize text */
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
    background-color: #4d4d4d; /* Slightly lighter blue */
}

/* Add hover effect to anchor tags */
#nav ul li a:hover {
    background-color: #000000; /* Turquoise on hover */
    color: white;
}
.icon-1{
    background-color: white;
    height:50px;
    width: 50px;
}
/* Active link styling */
#nav ul li a.active {
    background-color: #e74c3c; /* Red for active link */
    color: white;
}
